<div class="row">
  <div class="col-md-12">
    <%= form_tag "/check_dupe", multipart: true do %>
      <%= label_tag "Check for dupes against master list" %>
      <%= file_field_tag :csv, class: "form-control"  %>
      <%= submit_tag :submit, class: "btn"  %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_tag "/import_new", multipart: true do %>
      <%= label_tag "Import new list" %>
      <%= file_field_tag :csv, class: "form-control"  %>
      <%= submit_tag :submit, class: "btn"  %>
    <% end %>
  </div>
</div>

